@model GTnewsManager.Models.Menu

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Menu</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.menu_url)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.menu_url)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.menu_CNtext)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.menu_CNtext)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.menu_TWtext)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.menu_TWtext)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.menu_status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.menu_status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.menu_sort)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.menu_sort)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.menu_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
