@model IEnumerable<GTnewsManager.Models.Menu>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("新增", "Create", new { area = "" }, new { @class = "btn btn-primary" })
</p>
<table class="table ">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.menu_url)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.menu_CNtext)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.menu_TWtext)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.menu_status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.menu_sort)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.menu_url)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.menu_CNtext)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.menu_TWtext)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.menu_status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.menu_sort)
        </td>
        <td>
            @Html.ActionLink("修改", "Edit", new { id = item.menu_id }, new { @class = "btn btn-warning btnn" }) 
            @Html.ActionLink("詳細", "Details", new { id=item.menu_id },new { @class = "btn btn-success btnn" }) 
            @Html.ActionLink("移除", "Delete", new { id = item.menu_id }, new { @class = "btn btn-danger btnn" })
        </td>
    </tr>
}

</table>
